@charset "UTF-8";
/* mixin */
/* common */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

header {
  background: var(--yellow); }

#g-nav.panelactive {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh; }

.circle-bg {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff100;
  transform: scale(0);
  right: -50px;
  top: -50px;
  transition: all 0.6s; }

.circle-bg.circleactive {
  transform: scale(50); }

#g-nav-list {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#g-nav.panelactive #g-nav-list {
  display: block; }

#g-nav ul {
  opacity: 0;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#g-nav.panelactive ul {
  opacity: 1; }

#g-nav.panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes gnaviAnime {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#g-nav li {
  text-align: center;
  list-style: none; }

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

.openbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  width: 50px;
  height: 50px; }

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%; }

.openbtn span:nth-of-type(1) {
  top: 15px; }

.openbtn span:nth-of-type(2) {
  top: 23px; }

.openbtn span:nth-of-type(3) {
  top: 31px; }

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%; }

.openbtn.active span:nth-of-type(2) {
  opacity: 0; }

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%; }

/* color */
:root {
  --yellow: #fff100; }

/* grid */

/*# sourceMappingURL=style.css.map */